*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.card{
    height: 200px;
    width:600px;
    background-color: white;
     border-radius: 5px;
     padding: 24px;
}

.bar{
    height: 19px;
    width: 100%;
    background-color: rgb(215, 207, 207);
    border-radius: 10px;

}

.inner{
    height: 100%;
    width: 50%;
    background-color: rgb(66, 227, 95);
    border-radius: 10px;
    
}

button{
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    z-index: 1;
   
}
button:active{
    scale: 0.95;
}
span {
    color: rgb(61, 92, 244);
}
