*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.card{
    height: 200px;
    width:600px;
    background-color: white;
     border-radius: 5px;
     padding: 24px;
     font-family: monospace;
}

.bar{
    height: 19px;
    width: 100%;
    background-color: rgb(215, 207, 207);
    border-radius: 10px;

}

.inner{
    height: 100%;
    width: 0%;
    background-color: rgb(15, 117, 34);
    border-radius: 10px;
    
}

.button{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:     20px;
   
}
.button button{
    padding: 12px;
    background-color: #4d66d7;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
span {
    color: rgb(61, 92, 244);

}
.button h2{
    font-size: 40px;
}

.card p{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}
.button button:active{
    scale:     0.95;
}
