* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#box {

    background-color: #d55353;
    height: 250px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin-top: 10px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background: #8bd976;
    display: flex;  
    
    transition: transform 150ms ease, background 150ms ease, box-shadow 150ms ease;
    

}
button:active {
    transform: scale(0.95);
    background: #6fc15a;
    
}

