@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), local('Helvetica Neue');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, sans-serif;
    color: #ffffff;
}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);


}




button{
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    z-index: 1;
   
}
button:active{
    scale: 0.95;
}

